<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Smily University</title>
</head>
<body>

    <div class="container">
        <div class="left headerItems"><img src="logo.png" alt="logo.png" onclick="location.href='http://localhost:3000'"> </div>
        <div class="middle headerItems"><h4> </h4></div>
        <div class="right headerItems"><h3>Admin</h3></div>
      </div>
      
    


<hr>

<h1>Edit Student's Details </h1>

<div class="row">

    <!-- id cannot be changed  -->
    <span class="adminCells admin4charSize" style="background-color: yellow;">
        <h2>ID</h2>
     </span>

    <span class="adminCells admin4charSize" style="background-color: yellow;">
        <h2>letter Grade</h2>
     </span>


        

    <span class="adminCells admin4charSize" style="background-color: yellow;">
       
        <h2> GPA</h2>
        
    </span>

    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Name </h2>
        
    </span>

    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Teacher </h2>
        
    </span>

    <span class="adminCells admin12charSize" style="background-color: yellow;">
       
        <h2> Phone Number </h2>
        
    </span>
    
    <span class="adminCells admin30charSize" style="background-color: yellow;">
       
        <h2> Email </h2>
        
    </span>

    <span class="adminCells admin80charSize" style="background-color: yellow;">
       
        <h2> Address </h2>
        
    </span>

    <span class="adminCells admin4charSize" style="background-color: yellow;">
       
        <h2> Fee </h2>
        
    </span>


</div>



<form action="/adminEditStudents" method="post">
    <div class="row">

                <!-- id cannot be changed  -->
        <span class="adminCells admin4charSize">
            <h2><%= searchedStudent.id %></h2>
            <input type="hidden" name="studentId" value="<%= searchedStudent.id %>">
        </span>

        <!-- no change letter Grade -->
        <span class="adminCells admin4charSize">
        <h2>A</h2>
        </span>

            
        <!-- no change GPA  -->
        <span class="adminCells admin4charSize" >
        
            <h2> 3.5 </h2>
            
        </span>

        <!-- name  -->
        <input type="text" placeholder="Student Name" class="adminCells admin12charSize adminFormFont" maxlength="20" name="studentName" value="<%= searchedStudent.student_Name %>" required>
    
        <!-- teacher  -->
        <!-- <input type="text" value="Ricky Smith" class="adminCells admin12charSize adminFormFont" maxlength="20"> -->
    
        <select name="teacherSelection" id="selectingTeacher" class="adminCells admin12charSize adminFormFont" style="height: 109px;">
            <% teachers.forEach(function(teacher) { %>
                
                <option name="studentsTeacher" <% if (teacher.name === searchedStudent.student_teacher) { %>selected<% } %>><%= teacher.name %></option>

              <% }); %>
            
        </select>
    
        <!-- phone Number -->
        <input type="tel" placeholder="888-888-8888" class="adminCells admin12charSize adminFormFont" maxlength="12" name="studentPhone" required value="<%= searchedStudent.student_phone_number %>">
    
        <!-- Email  -->
        <input type="email" placeholder="SmilyUniversity@gmail.com" class="adminCells admin30charSize adminFormFont" maxlength="30" name="studentEmail" required value="<%= searchedStudent.student_email %>">
    
        <!-- address  -->
        <input type="text" placeholder="12345 USA street, USA city, USA State" class="adminCells admin80charSize adminFormFont" maxlength="50" name="studentAddress" required value="<%= searchedStudent.student_address %>">
    
        <!-- fee  --> 
        <input type="" placeholder="300" class="adminCells admin4charSize adminFormFont" maxlength="3" name="studentFee" required value="<%= searchedStudent.student_salary %>">
    
    </div>

<br><br>

    <div class="search-bar">
        <button type="submit" class="btn" name="updateNewInfo" value="<%= searchedStudent.id %>">Save</button>
        
        <button class="btn" name="goBacktoViewStudent" value="<%= searchedStudent.student_Name %>">cancel</button>
</form>
    </div>
    


</body>
</html>

